
.bg-primary{
    background-color: #28a745 !important;

}

.me-2{
    font-size: 19px;

}

.alcalde {
color: #28a745;
font-size: 25px ;

}

.row {
    row-gap: 30px;
}

.navbar{
    background-color: #28a745 !important;
}